# Mise à jour toutes les nuits à 1h
0 1 * * * logger.sh docker exec ${CONTAINER} bin/console list

# Mise à jour toutes les heures
10,30,50 * * * * logger.sh docker exec ${CONTAINER} bin/console list

# Mise à jour toutes les minutes
* * * * * logger.sh docker ps

# An empty line is required at the end of this file for a valid cron file.
